.forms div {
    display: flex;
    margin: 1em;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.forms div label {
    font-size: larger;
    color: gray;
}

.forms div input {
    border-color: lightblue;
    border-radius: .25em;
    text-align: center;
}