.o_main_navbar {
    color: rgb(0,0,0);
    background-color: #A4EBF3;
    > .o_menu_brand{
        color: rgb(0,0,0);
    }

    > ul{

        > li{
            
            > a, > label {
                color: rgb(0,0,0);
            }

            &.o_extra_menu_items{
                &.show > ul{
                    > li{
                        > a {
                            color: rgb(0,0,0);
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu.show{
        background-color: #CCF2F4;
    }
}

.o_kanban_project_tasks .badge {
    background: inherit;
    color: inherit;
    border: 1px solid var(--info);
  }
  
  .o_kanban_project_tasks .badge-warning {
    border-color: var(--primary);
  }
  
  .o_kanban_project_tasks .badge-danger {
    border-color: var(--secondary);
  }